

$cores_fixas:#009688;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte:#ffffff;
body
{
    //  width:100%;
    margin: 0 auto;



    .header
    {

        background-color:$cores_fixas;
        display: table;
        width: 100%;
        position: fixed;
        z-index: 2;




        .title
        {
            font-family: $fonte_geral;
            font-size: 40px;
            color: #ffffff;
            text-align: center;
            float: left;
            /* left: 50%; */
            margin-left: 46%;


        }

        .control-icon-menu
        {
            width: 35px;
            height: 42px;
            float: left;
            position: relative;
            left: 3%;
            margin-top: 8px;
            z-index: 1;

            .masc-icon
            {
                width:100%;
                height:100%;
                cursor: pointer;
                display: none;
            }
            .icon-menu
            {
                width:100%;
                height:100%;
                cursor:pointer;
            }
        }

        .sair
        {
            font-family: $fonte_geral;
            color: #ffffff;
            cursor: pointer;
            left: 40%;
            font-size: 20px;
            position: relative;
            margin-top: 12px;
            

        } .sair:hover{
           text-decoration: underline;
        }

    }

    .section
    {
        width:100%;
        height:845px;

    }

    .footer
    {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color:$cores_fixas;
        position: fixed;
        bottom: 0%;
        z-index: 1;
        .f-text
        {


            .f-text-geral
            {
                text-align:center;
                font-family:$fonte-geral;
                font-size: 12px;
                color:$cor_fonte;
            }
        }

    }

}


.masc
{
    width: 100%;
    height:100%;
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    opacity:0.4;
}