

$cores_fixas:#009688;
body
{
    width:100%;
    margin: 0 auto;


    .header
    {

        background-color:$cores_fixas;
        width: 100%;
       

        .title
        {
            font-family: 'Open Sans', sans-serif;
            font-size:40px;
            color:#ffffff;
            margin-left:45%;


        }

    }

    .section
    {
        width:100%;
        height: 815px;


    }

    .footer
    {
        width: 100%;
        height: 80px;
        background-color:$cores_fixas;
        position: fixed;
        bottom: 0%;
    }
}



.masc
{
    width: 100%;
    height:100%;
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    opacity:0.4;
}