body
{
    width:100%;
    margin: 0px;


    .header
    {
        min-width:50%;
        height:80px;
        background-color:#009688;


        .title
        {
            font-family: 'Open Sans', sans-serif;
            font-size:40px;
            color:#ffffff;
            padding-left:45%;
            padding-top: -1%;

        }

    }
    
    .section
    {
        min-width:30%;
        min-height:813px; 
        border: solid 1px;
    }
    
    .footer
    {
        min-width:30%;
        height:80px;
        background-color:#009688;
     }



}