/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/07/2017, 12:01:17
    Author     : user1
*/
$cores_fixas:#009688;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte:#ffffff;
$cor_fonte_black:#000000;
$cor_borda:#009688;
.aside
{
    width: 16%;
    min-height: 740px;
    height: 88%;
    position: fixed;
    z-index: 1;
    min-width: 198px;
    background-color: black;
    opacity: 0.9;
    left: -16%;
    display:none;
    top: 5%;
    bottom:0%;

    .control-aside
    {
        width: 100%;
        height: 100%;
        margin: 20% 0% 8% 0%
        //  border: solid 1px yellow;

        .header-aside
        {
            width: 100%;
            height: 20%;
            // border: solid 1px yellow;

            .control-img-aside
            {
                width: 27%;
                min-width: 80px;
                height: 46%;
                min-height: 80px;
                margin: 0% 38% 0% 38%;


                .img-user-aside
                {
                    cursor:pointer;
                    width: 100%;
                    height: 100%;
                    border-radius:50%;
                }
            }
            .control-text-aside
            {
                //border: solid 1px red;
                margin-top:3%;

                .text-name-aside
                {
                    font-family: $fonte-geral;
                    color:$cor_fonte;
                    font-size: 25px;
                    text-align: center;
                    cursor:pointer;
                }
                .text-name-aside:hover
                    {
                    text-decoration: underline;  
                }

            }

        }

        .section-aside
        {
            width: 100%;
            height: 45%;
            //border: solid 1px yellow;
            .control-menu-aside
            {
                .menu-aside-geral
                { 
                    font-size: 16px;
                    text-align: center;

                    cursor:pointer;
                    font-family: $fonte-geral;
                    color:$cor_fonte;
                    width: 100%;
                    height: 50px;
                    // border: solid 1px red;
                    // padding: 10px 0;
                    padding: 20px 0px 0px;
                    border-bottom: 1px solid #1f1e1e

                }

                #menu-aside-home
                {
                    border-top: 1px solid #1f1e1e

                }   #menu-aside-home:hover
                    {
                    background-color:#1f1e1e;

                }

                #menu-aside-luz
                {


                } /*#menu-aside-luz:hover
                    {
                    background-color:#1f1e1e;
                }*/

                #menu-aside-energia
                {


                } /*#menu-aside-energia:hover
                    {
                    background-color:#1f1e1e;
                }*/


                #menu-aside-conta
                {


                } #menu-aside-conta:hover
                    {
                    background-color:#1f1e1e;
                }


                #menu-aside-controle
                {
                    background-color: #312c2c;
                    display:none;

                } #menu-aside-controle:hover
                    {
                    background-color:#1f1e1e;
                }

                #menu-aside-medicao
                {
                    background-color: #312c2c;
                    display:none;

                } #menu-aside-medicao:hover
                    {

                    background-color:#1f1e1e;
                }

                #menu-aside-relatorio    
                {
                    background-color: #312c2c;
                    display:none;

                } #menu-aside-relatorio:hover
                    {
                    background-color:#1f1e1e;
                }
            }

        }

        .footer-aside
        {

        }
    }
}

.control-section
{
    width: 100%;
    min-width: 800px;
    height: 100%;
    position:relative;
    //border: solid 1px red;
    float: right;

    .control-content
    {
        width: 80%;

        position: relative;
        left: 11.1%;
        top: 14%;
        display: table;
        .text-content
        {
            position: relative;
            text-align: center;
            margin-bottom: 2%;
            color:$cor_borda;
            font-family:$fonte_geral;
            font-size: 30px;
        }

        .content-geral
        {
            width: 30%;
            // padding: 11% 0px;
            height:300px;
            float:left;
            border: solid 1px #b7b7b7;
            margin-left: 1%;
            position: relative;
            left: 18%;
            top:2%;
            margin-bottom:2%;
            border-radius:26px;

        }
        .text-geral-home
        {
            color:$cor_borda;
            font-family:$fonte_geral;
            font-size: 25px;
            text-align: center;
        }
        .content-luz
        {
            .control-img-lampada
            {
                width: 29%;
                height: 46%;
                /* left: 24%; */
                /* position: relative; */
                margin: 0% 1% 1% 35%;
            }

            .img-lampada
            {
                width: 100%;
                height: 100%;
                filter: brightness(90%);
                position: relative;
                left: 0%;
                top: 3%;

            } .img-lampada:hover
                {
                filter: brightness(100%);
            }
        }

        .content-energia
        {
            .control-img-energia
            {
                width: 29%;
                height: 46%;
                /* left: 24%; */
                /* position: relative; */
                margin: 0% 1% 1% 35%;
            }

            .img-energia
            {
                width: 100%;
                height: 100%;
                filter: brightness(90%);
                position: relative;
                left: 0%;
                top: 3%;
                background-repeat: no-repeat;
            } .img-energia:hover
                {
                filter: brightness(100%);
            }
        }
    }

    .content-energia
    {

    }

    .content-informacao
    {

    }
}

