/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2017, 10:05:57
    Author     : user1
*/
body {
  margin: 0 auto; }
  body .header {
    background-color: #009688;
    display: table;
    width: 100%;
    position: fixed;
    z-index: 2; }
    body .header .title {
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      color: #ffffff;
      text-align: center;
      float: left;
      /* left: 50%; */
      margin-left: 46%; }
    body .header .control-icon-menu {
      width: 35px;
      height: 42px;
      float: left;
      position: relative;
      left: 3%;
      margin-top: 8px;
      z-index: 1; }
      body .header .control-icon-menu .masc-icon {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: none; }
      body .header .control-icon-menu .icon-menu {
        width: 100%;
        height: 100%;
        cursor: pointer; }
    body .header .sair {
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      cursor: pointer;
      left: 40%;
      font-size: 20px;
      position: relative;
      margin-top: 12px; }
    body .header .sair:hover {
      text-decoration: underline; }
  body .section {
    width: 100%;
    height: 845px; }
  body .footer {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #009688;
    position: fixed;
    bottom: 0%;
    z-index: 1; }
    body .footer .f-text .f-text-geral {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: #ffffff; }

.masc {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  opacity: 0.4; }

.login {
  width: 25%;
  min-width: 300px;
  position: relative;
  left: 38%;
  top: 24%; }
  .login .p_corpo_inputs {
    border: solid 1px #d6c4c4;
    border-radius: 10px;
    background-color: #ffffff; }
    .login .p_corpo_inputs .p_inputs {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10%; }
      .login .p_corpo_inputs .p_inputs .ipt-geral {
        width: 100%;
        height: 37px;
        font-family: "Open Sans", sans-serif; }
      .login .p_corpo_inputs .p_inputs .ipt-email {
        margin-bottom: 1%;
        font-size: 15px; }
      .login .p_corpo_inputs .p_inputs .ipt-password {
        font-size: 15px; }
    .login .p_corpo_inputs .btn-login {
      border-radius: 5px;
      margin: 2% 0% 0% 0%;
      background-color: #428bca;
      padding: 10px 0;
      width: 101%; }
    .login .p_corpo_inputs .btn-login:hover {
      background-color: #3b7ab1;
      cursor: pointer; }
    .login .p_corpo_inputs .text-btn {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      position: relative; }
    .login .p_corpo_inputs .title_login {
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      color: #116961;
      text-align: center; }
    .login .p_corpo_inputs .sub-title {
      font-size: 13px;
      border-bottom: solid 1px #d6c4c4;
      margin-top: 2%; }
    .login .p_corpo_inputs .title_inputs {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #116961; }
    .login .p_corpo_inputs .p_btn {
      margin-left: 1%; }
    .login .p_corpo_inputs .f_login {
      display: table;
      width: 100%;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      margin-top: 4%;
      margin-bottom: 1%; }
      .login .p_corpo_inputs .f_login .err-login-geral {
        font-family: "Open Sans", sans-serif;
        color: #c73030;
        text-align: center;
        font-size: 12px; }
      .login .p_corpo_inputs .f_login #err-login-email {
        display: none; }
      .login .p_corpo_inputs .f_login #err-login-email2 {
        display: none; }
      .login .p_corpo_inputs .f_login #err-login-email-php {
        display: none; }
      .login .p_corpo_inputs .f_login #err-login-senha {
        display: none; }
      .login .p_corpo_inputs .f_login #err-login-senha-php {
        display: none; }
      .login .p_corpo_inputs .f_login .cadastro {
        margin-left: 1%;
        float: left;
        color: #316694;
        cursor: pointer; }
      .login .p_corpo_inputs .f_login .senha {
        margin-right: 1%;
        float: right;
        color: #316694;
        cursor: pointer; }

/*# sourceMappingURL=login.css.map */
