/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2017, 10:05:57
    Author     : user1
*/

@import "global";
$fonte-inputs:  'Open Sans', sans-serif;
$borda-login:#cacaca;

.login
{ 
    // min-width: 350px;
    width: 30%;
    min-width: 403px;

    border: solid 1px $borda-login;
    border-radius: 10px;
    margin-left: 36%;
    margin-top: 7%;

    .p_corpo_inputs
    {
        .p_inputs
        {
            margin-left: 14%;
            margin-top: 10%;

            .ipt-email
            {
                width: 197px;
                height:23px;
                font-family:$fonte-inputs;
                width: 283px;
                height: 41px;
                margin-bottom:1%; 


            }

            .ipt-password
            {
                width: 190px;
                height:23px; 
                font-family:$fonte-inputs;
                width: 283px;
                height: 41px;
            }



        }



        .btn-login
        {
            border-radius: 5px;
            margin: 3% 0% 0% 14%;
            height: 39px;
            width: 71%;
            background-color: #428bca;
        }

        .btn-login:hover
            {
            background-color: #3b7ab1;
            cursor:pointer;
        }

        .text-btn
        {
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            //text-align: center;
            position: absolute;
            margin-top: 9px;
            margin-left: 9%;
        }



        .title_login
        {
            font-size:25px;
            font-family: 'Open Sans', sans-serif;
            color:#116961;
            text-align: center;

        }

        .sub-title
        {
            font-size:13px;
            border-bottom: solid 1px $borda-login;
            margin-top:2%; 

        }

        .title_inputs
        {
            font-size:16px;
            font-family: 'Open Sans', sans-serif;
            color:#116961;

        }

        .p_btn
        {
            margin-left:1%; 
        }

        .f_login
        {
            display:table;
            width:100%;
            font-family:$fonte_inputs;
            font-size: 13px;
            margin-top: 7%;
            margin-bottom: 1%;

            .cadastro
            {
                float:left;
                margin-left:1%;
                color:#316694;
                cursor:pointer;
            }

            .senha
            {
                float:left;
                margin-left: 33%;
                color:#316694;
                cursor:pointer;

            }
        }


    }
}