/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2017, 10:05:57
    Author     : user1
*/

@import "global";
$fonte-inputs:  'Open Sans', sans-serif;
$borda-login:#d6c4c4;
$fonte-inputs-tamanho:15px;

.login
{ 
    width: 25%;
    min-width: 300px;
    position: relative;
    left: 36%;
    top:16%;

    .p_corpo_inputs
    {


        border: solid 1px $borda-login;
        border-radius: 10px;
        background-color: #ffffff;


        .p_inputs
        {
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;

            .ipt-geral
            {
                width: 100%;
                height: 37px;
                font-family:$fonte-inputs;
            }
            .ipt-email
            {



                margin-bottom:1%; 
                font-size:$fonte-inputs-tamanho;


            }

            .ipt-password
            {


                font-size:$fonte-inputs-tamanho;
            }



        }



        .btn-login
        {
            border-radius: 5px;
            margin: 2% 0% 0% 0%;
            background-color: #428bca;
            padding: 10px 0;
            width: 101%;

        }

        .btn-login:hover
            {
            background-color: #3b7ab1;
            cursor:pointer;
        }

        .text-btn
        {
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            position: relative;


        }



        .title_login
        {
            font-size:25px;
            font-family: 'Open Sans', sans-serif;
            color:#116961;
            text-align: center;

        }

        .sub-title
        {
            font-size:13px;
            border-bottom: solid 1px $borda-login;
            margin-top:2%; 

        }

        .title_inputs
        {
            font-size:16px;
            font-family: 'Open Sans', sans-serif;
            color:#116961;

        }

        .p_btn
        {
            margin-left:1%; 
        }

        .f_login
        {
            display:table;
            width:100%;
            font-family:$fonte_inputs;
            font-size: 13px;
            margin-top: 7%;
            margin-bottom: 1%;

            .cadastro
            {
                margin-left: 1%;
                float:left;
                color:#316694;
                cursor:pointer;
            }

            .senha
            {
                margin-right: 1%;
                float:right;
                color:#316694;
                cursor:pointer;

            }

        }



    }
}
