/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/07/2017, 12:01:17
    Author     : user1
*/
.aside {
  width: 16%;
  min-width: 290px;
  min-height: 740px;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  left: -16%; }
  .aside .control-aside {
    width: 100%;
    height: 93%;
    margin: 8% 0% 8% 0%; }
    .aside .control-aside .header-aside {
      width: 100%;
      height: 20%; }
      .aside .control-aside .header-aside .control-img-aside {
        width: 27%;
        min-width: 80px;
        height: 46%;
        min-height: 80px;
        margin: 0% 35% 0% 35%; }
        .aside .control-aside .header-aside .control-img-aside .img-user-aside {
          cursor: pointer;
          width: 100%;
          height: 100%;
          border-radius: 50%; }
      .aside .control-aside .header-aside .control-text-aside {
        margin-top: 3%; }
        .aside .control-aside .header-aside .control-text-aside .text-name-aside {
          font-family: "Open Sans", sans-serif;
          color: #ffffff;
          font-size: 25px;
          text-align: center;
          cursor: pointer; }
        .aside .control-aside .header-aside .control-text-aside .text-name-aside:hover {
          text-decoration: underline; }
    .aside .control-aside .section-aside {
      width: 100%;
      height: 45%; }
      .aside .control-aside .section-aside .control-menu-aside {
      /*#menu-aside-luz:hover
        {
        background-color:#1f1e1e;
    }*/
      /*#menu-aside-energia:hover
        {
        background-color:#1f1e1e;
    }*/ }
        .aside .control-aside .section-aside .control-menu-aside .menu-aside-geral {
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          font-family: "Open Sans", sans-serif;
          color: #ffffff;
          width: 100%;
          height: 50px;
          padding: 20px 0px 0px;
          border-bottom: 1px solid #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-home {
          border-top: 1px solid #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-home:hover {
          background-color: #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-conta:hover {
          background-color: #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-controle {
          background-color: #312c2c;
          display: none; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-controle:hover {
          background-color: #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-medicao {
          background-color: #312c2c;
          display: none; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-medicao:hover {
          background-color: #1f1e1e; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-relatorio {
          background-color: #312c2c;
          display: none; }
        .aside .control-aside .section-aside .control-menu-aside #menu-aside-relatorio:hover {
          background-color: #1f1e1e; }

/*# sourceMappingURL=menu_vertical.css.map */
