/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/07/2017, 11:21:03
    Author     : user1
*/
$borda-modal:#b7b7b7;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte_modal:#116961;
$tamanho_inputs:34px;



.geral_modal
{
    display:none;
    width: 40%;
    min-width: 400px; 
    top: 24%;
    left: 29%;
    position: absolute;
    z-index: 9999; /* número máximo é 9999 */

    .visual_modal{

        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border: solid 1px $borda-modal;
        border-radius:9px;

        .header-cadastro
        {
            text-align:center;
            font-family:$fonte-geral;
            font-size: 25px;
            color:$cor_fonte_modal;
            padding-bottom: 1%;

            //border-bottom: solid 1px $borda-modal; 

        }
        .section-cadastro
        {
            position:relative;
            width: 90%;
            margin-left: 4%;
            margin-right: 4%;

            .ipt-geral-modal
            {
                margin-top:1%;
                font-size: 15px;
                font-family:$fonte-geral; 
                margin-top: 4px;
                padding: 1px;

            }
            .ipt-modal-nome
            {
                width: 99.2%;
                height: $tamanho_inputs;
            }
            .ipt-modal-email
            {
                width: 99.2%;
                height:$tamanho_inputs;
                margin-right: 19%;

            }
            .controle-senha{
                display:flex;
                .ipt-modal-senha  

                {
                    float:left;
                    width: 50%;
                    height: $tamanho_inputs;
                }
                .ipt-modal-senha2 
                {
                    margin-left: 1%;
                    float: left;
                    width: 50%;

                    height: $tamanho_inputs;
                }
            }
        }

        .footer-cadastro
        {
            display:table;
            width:86%;
            height:50px;
            margin-top: 1%;

            .err-geral
            {
                font-family: $fonte-geral;
                color:#c73030;
                padding: 0% 0% 1% 44%;
                position: relative;
                font-size: 12px;

            }

            #err-senha
            {
                display: none;

            }

            #err-senha2
            {
                display: none;

            }

            #err-nome
            {
                display: none;

            }

            #err-nome2
            {
                display: none;

            }

            #err-nome3
            {
                display: none;

            }

            #err-email
            {
                display: none;

            }

            #err-email2
            {
                display: none;

            }
            #err-php
            {
                display: none;

            }


            .btn-done
            {

                width:25%;
                padding: 10px 0;
                background-color:#428bca;
                position: relative;
                left:45%;
                border-radius:6px;
                margin-bottom: 1%;

                .text-btn-done
                {
                    font-family: $fonte-geral;
                    color:#ffffff;
                    text-align:center;
                    position: relative;

                }
            }

            .btn-done:hover
                {
                background-color:#3b7ab1;
                cursor:pointer;

            }
        }

        .sucesso-cadastro
        {
            width: 31%;
            margin-bottom: 2%;
            margin-top: 2%;
            position: relative;
            left: 42%;
            display:none;


            .sucesso-imagem
            {
                background-repeat: no-repeat;
                width:100%; 


            }
        }

        .btn-voltar
        {   
            display:none;
            width: 25%;
            padding: 10px 0;
            background-color: #428bca;
            position: relative;
            left: 45%;
            border-radius: 6px;
            margin-bottom: 1%;
            .text-btn-voltar
            {
                font-family:$fonte-geral;
                color: #ffffff;
                text-align: center;
                position: relative;
            }
        }
        .btn-voltar:hover
            {
            background-color:#3b7ab1;
            cursor:pointer;

        }

    }
}



