/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/07/2017, 11:21:03
    Author     : user1
*/
$borda-modal:#b7b7b7;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte_modal:#116961;


.geral_modal
{
    display:none;
    width: 30%;
    min-width: 400px; 
    top: 22%;
    left: 33%;
    position: absolute;
    z-index: 9999; /* número máximo é 9999 */

    .visual_modal{

        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border: solid 1px $borda-modal;
        border-radius:9px;

        .header-cadastro
        {
            text-align:center;
            font-family:$fonte-geral;
            font-size: 25px;
            color:$cor_fonte_modal;
            border-bottom: solid 1px $borda-modal; 

        }
        .section-cadastro
        {
            position:relative;
            left:4%; 

            .ipt-geral-modal
            {
                margin-top:2%;
                font-size: 13px;
                font-family:$fonte-geral; 

            }
            .ipt-modal-nome
            {
                width: 70%;
                height: 34px;
            }
            .ipt-modal-email
            {
                width: 50%;
                height: 34px;
                margin-right: 19%;
            }
            .ipt-modal-senha
            {
                width: 45%;
                height: 34px;
            }
        }

        .footer-cadastro
        {
            display:table;
            width:86%;
            height:50px;
            margin-top: 4%;
            margin-bottom:1%;


            .btn-done
            {

                width:25%;
                padding: 10px 0;
                background-color:#428bca;
                position: relative;
                left:45%;
                border-radius:6px;

                .text-btn-done
                {
                    font-family: $fonte-geral;
                    color:#ffffff;
                    text-align:center;
                    position: relative;
                    
                }
            }

            .btn-done:hover
                {
                background-color:#3b7ab1;
                cursor:pointer;

            }
        }

    }
}



