/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/07/2017, 11:05:20
    Author     : user1
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/07/2017, 11:21:03
    Author     : user1
*/
$borda-modal:#b7b7b7;
$fonte-geral:'Open Sans', sans-serif;
$cor_fonte_modal:#116961;


.geral_modal_senha
{
    display:none;
    width: 25%;
    min-width: 400px; 
    top: 31%;
    left: 36%;
    position: absolute;
    z-index: 9999; /* número máximo é 9999 */



    .visual_modal_senha
    {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border: solid 1px $borda-modal;
        border-radius:9px;

        .header-senha
        {
            text-align:center;
            font-family:$fonte-geral;
            font-size: 25px;
            color:$cor_fonte_modal;
            padding-bottom: 3%;
        }

        .section-senha
        {
            position:relative;
            left:4%; 

            .ipt-geral-modal-senha
            {

                font-size: 15px;
                font-family:$fonte-geral; 
                margin-top: 4px;
                margin-left: 10%;

            }
            .ipt-modal-email
            {
                width: 70%;
                height: 37px;
                text-align: center;
            }
        }

        .footer-senha
        {

            width:86%;
            height:50px;
            margin-top: 4%;
            margin-bottom:1%;

            .btn-done-senha
            {

                width:25%;
                padding: 10px 0;
                background-color:#428bca;
                position: relative;
                left:45%;
                border-radius:6px;

                .text-btn-done-senha
                {
                    font-family: $fonte-geral;
                    color:#ffffff;
                    text-align:center;
                    position: relative;

                }
            }

            .btn-done-senha:hover
                {
                background-color:#3b7ab1;
                cursor:pointer;

            }
        }


    }

}



